*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #FF6400;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px #FF7F3B;
    z-index: 1;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #FF6400;
    height: 3em;
}

.nav-list{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    list-style: none;
    gap: 15px;
    background-color: #FF6400;
    clip-path: circle(0px);
    pointer-events: none;
}

.nav-list a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.nav.active .nav-list{
    clip-path: circle(200px);
    pointer-events: all;
}


.index{
position: absolute;
left: 10px;
text-decoration: none;
padding: 5px 10px;
color: black;
font-size: 1.2em;
font-weight: 600;
}

.hamburguer{
    top: 0;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before, 
.hamburguer::after{
    content: ' ';
    display: block;
    width: 30px;
    height: 3px;
    background:#fff;
    margin-top: 5px;
}

.nav.active .hamburguer{
    border-top-color: transparent ;
}

.nav.active .hamburguer::before{
    transform: rotate(-135deg);
    transition: .1s linear;
    margin-top: -5px;
}

.nav.active .hamburguer::after{
    transform: rotate(135deg);
    transition: .1s linear;
    margin-top: -3px;
}

.primeira, .segunda{
    margin: auto;
    display: flex;
    gap: 10%;
}

.primeiraUm{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

@media ( max-width:700px){

    .title h1{
        font-size: 2.5em;
    }
    .primeira, .segunda{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .input{
        width: 300px;
    }
}

.title h1{
    font-size: 4em;
}

.title p{
    font-size: .8em;
    font-weight: 100;
    color: white;
    margin-top: 5%;
}

.socialMedia{
    margin-top: 10%;
}

.socialMedia a{
    text-decoration: none;
    color: #FF6400;
}

.list{
    padding: 5px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}


.input{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 350px;
    padding: 10px;
    height: 50vh;
    border-radius: 10px;
    border: 1px solid;
}

input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

textarea{
    padding: 5px;
    margin-bottom: 10px;
}

label{
    margin: 10px 0px;
}

.submit{
    border-radius: 20px;
    margin: auto;
    background-color: transparent;
    color: white;
    width: 50%;
    padding: 1em;
}

.imageUm, .imageDois{
    width: 350px;
    height: 300px;
    background-color: #FF6400;
    border-radius: 10px;
    margin-top: 100px;
}

.imageUm{
    background-image:url(img/137.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 101% 101%;
}

.imageDois{
    background-image:url(img/pc.webp) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 101% 101%;
}

@media ( max-width:500px){
    .nav-list{
        position: absolute;
        align-items: center;
        top: 3em;
        right: 0;
        background-color: #FF7F3B;
        border-radius: 0px 0px 0px 100px;
        height: 3em;
    }

    .hamburguer{
        z-index: 1;
    }
}